h2{
    font-size: 1.5rem;
    text-align: center;
}
/* about me design starts here */

.about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: ;
}

.aboutme-image img{
    border: 5px solid white;
    box-sizing: 40%;
    height: 220px;
    width: 210px;
}

.about-me p{
    text-align: center;
}

.about-me a{
    font-size: 1.2rem;
}

.about-me::after{
    clear: both;
    display: table;
    content: '';
}


/* about me design ends here */

/* professional-experience starts here */

.professional-experience{
    padding: 1% 0%;
}

.professional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 4px 8px 5px black;
}

.card-icon{
    text-align: center;
}

.card-icon img{
    margin-top: 20px;
    width: 100px;
}

.rounded-img{
    border: 5px solid white;
    color: white;
    padding: 10px;
    text-align: center;
}
.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align: center;
}


/* professional-experience ends here */